.idea/
*.iml
*.la
*.lo
*.log
*.m4
*.mk
*.pc
.libs
config.guess
config.status
config.sub
config.nice
install.sh

/build.properties
/dist
/native/.make.dirs
/native/*.spec
/native/configure
/native/Makefile
!/native/build/tcnative.m4

